body{
	background-color: #f1f1f1;
}

h1{
	font-size: 1.75rem;
}

ul{
	list-style: none;

	max-width: 450px;
	max-height: 600px;

	overflow-y: scroll;
}

ul li{
	padding: .5rem .75rem;
}

ul li p{
	margin: 0;
}