body{
	background-color: #f1f1f1;
}

h1{
	font-size: 1.75rem;
	padding-bottom: 1rem;
}

h2{
	font-size: 1.5rem;
}

ul{
	list-style: none;
	max-width: 450px;
}

ul li{
	padding: .5rem .75rem;
}

ul li p{
	margin: 0;
}

.example{
	display: inline-grid;
}

.example-1 ul{
	max-height: 600px;
	overflow-y: scroll;
}

.example-2 ul{
	/* max-height: 600px;
	overflow-y: scroll; */
}

.pagination-wrapper{
	display: flex;
	gap: 5px;
	justify-content: center;
	margin-top: 10px;
}

.pagination-btn{
	padding: 5px 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
}

.pagination-btn:disabled{
	background-color: #f0f0f0;
}

.pagination-btn.active{
	background-color: #007bff;
	color: #fff;
}